{% if view=="calc" %}
	<form action="#" class="{{prefix}}block  {{mod}}">		
		<div class="{{prefix}}container container  {{mod}}">
			<div class="{{prefix}}row  {{mod}}">				
				<h1 data-grid-heading>Office stress test</h1>
				<ol data-grid-step class="{{prefix}}step  {{mod}}">
					<li class="{{prefix}}step-item  {{mod}}">
						<a href="#{{ID}}-step1" class="{{prefix}}step-link  {{mod}}  is--active">Данные об&nbsp;объекте <span>1</span></a> 	
					</li>
					<li class="{{prefix}}step-item  is--deliver  {{mod}}"></li>
					<li class="{{prefix}}step-item  {{mod}}">
						<a href="#{{ID}}-step2" disabled class="{{prefix}}step-link  {{mod}}  {{active_two}}">Данные об&nbsp;арендаторе  <span>2</span></a>	
					</li>
				</ol>
				<div data-grid-pane>
					<div class="{{prefix}}step-pane  {{mod}}  active"  id="{{ID}}-step1">
						<h2 class="{{prefix}}heading  {{mod}}">Укажите данные об объекте</h2> 
						<div class="{{prefix}}card  {{mod}}">
							<div class="{{prefix}}card-heading  {{mod}}  hidden--xs">
								<h3 class="fw--600  ">Объект</h3>
							</div>
							<div class="{{prefix}}card-row  {{mod}}">
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"objClass", 
									name:"Класс объекта", 
									label:"Класс объекта *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"objZone", 
									error: "true",
									name:"Зона объекта", 
									label:"Зона объекта *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}	
								{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
									{
										"type":"number", 
										"id":"area", 
										"form_id":ID,
										"error": "true",
										"required": "required",
										"name":"Арендопригодная площадь", 
										"label":"Арендопригодная площадь *",
										"unit":"м<sup>2</sup>"
									},
									{
										"type":"number", 
										"id":"vacancy", 
										"form_id":ID,
										"required": "required",
										"name":"Текущая вакансия", 
										"label":"Текущая вакансия *",
										"unit":"м<sup>2</sup>"
									},
								]} %}	
							</div>
						</div>
					</div>
					<div class="{{prefix}}step-pane  {{mod}}"  id="{{ID}}-step2">
						<h2 class="{{prefix}}heading  {{mod}}">Укажите данные об арендаторе</h2> 
						<div class="{{prefix}}card  {{mod}}">
							<div class="{{prefix}}card-heading  {{mod}}">
								<h3 class="fw--600">Арендатор 1</h3>
							</div>
							<div class="{{prefix}}card-row  {{mod}}">
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"department1", 
									name:"Отрасль", 
									label:"Отрасль *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"departmentUn1", 
									name:"Подотрасль", 
									label:"Подотрасль *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"type1", 
									name:"Тип компании", 
									label:"Тип компании *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}
								{% include "elem-tpl.twig" with {
									view:"checkbox", 
									prefix:prefix, 
									mod:"", 
									group:"is--checkbox", 
									color:"", 
									list: [
										{"id":"agreement", 
										"form_id":ID, 
										"status":"", 
										"name":"С государственным участием",
										"label":"С государственным участием"}
									]
								} %}	
								{# {% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
									{
										"type":"number", 
										"id":"area", 
										"form_id":ID,
										"required": "required",
										"name":"Занимаемая площадь", 
										"label":"Занимаемая площадь *",
										"unit":"м<sup>2</sup>"
									}
								]} %} #}
								<div class="{{prefix}}card-link-group  {{mod}}">
									<a href="#" class="{{prefix}}card-link  {{mod}}"><span>{% include "../svg-sprite/svg.twig" with {icon:'plus'} %}</span> Добавить арендатора</a>
									<a href="#" class="{{prefix}}card-link-del  {{mod}}  is--del"><span>{% include "../svg-sprite/svg.twig" with {icon:'delete'} %}</span> <b>Удалить арендатора</b></a>
								</div>	
							</div>
						</div>
						<div class="{{prefix}}card  {{mod}}">
							<div class="{{prefix}}card-heading  {{mod}}">
								<h3 class="fw--600">Арендатор 2</h3>
							</div>
							<div class="{{prefix}}card-row  {{mod}}">
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"department2", 
									name:"Отрасль", 
									label:"Отрасль *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"departmentUn2", 
									name:"Подотрасль", 
									label:"Подотрасль *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}
								{% include "elem-tpl.twig" with {
									view: "select", 
									prefix:prefix, 
									mod:mod, 
									form_id:ID,
									id:"type2", 
									name:"Тип компании", 
									label:"Тип компании *", 
									color:color, 
									required: "required",
									attr:"data-select", 
									list: [
										{"name": "Сайт рыбатекст поможет дизайнеру", "status":"selected"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"},
										{"name": "Сайт рыбатекст поможет дизайнеру"}
									]
								} %}	
								{# {% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
									{
										"type":"number", 
										"id":"area", 
										"form_id":ID,
										"required": "required",
										"name":"Занимаемая площадь", 
										"label":"Занимаемая площадь *",
										"unit":"м<sup>2</sup>"
									}
								]} %} #}
								
								{% include "elem-tpl.twig" with {
									view:"checkbox", 
									prefix:prefix, 
									mod:"", 
									group:"is--checkbox", 
									color:"", 
									list: [
										{"id":"agreement", 
										"form_id":ID, 
										"status":"", 
										"name":"С государственным участием",
										"label":"С государственным участием"}
									]
								} %}
								<div class="{{prefix}}card-link-group  {{mod}}">
									<a href="#" class="{{prefix}}card-link  {{mod}}"><span>{% include "../svg-sprite/svg.twig" with {icon:'plus'} %}</span> Добавить арендатора</a><a href="#" class="{{prefix}}card-link-del  {{mod}}  is--del"><span>{% include "../svg-sprite/svg.twig" with {icon:'delete'} %}</span> <b>Удалить арендатора</b></a>
								</div>	
							</div>
						</div>
						<div class="{{prefix}}btn-group  {{mod}}">
							<button type="reset" class="{{prefix}}btn-link  {{mod}}">
								Очистить все
							</button>
							<button type="submit" class="{{prefix}}btn-item  {{mod}}">
								Сделать расчет
							</button>
						</div>
					</div>
				</div>
				<div data-grid-result>
					<div class="{{prefix}}sticky">
						<div class="{{prefix}}card  {{mod}}  is--chart  is--active">
							<div class="{{prefix}}card-heading  {{mod}}  is--chart">
								<h3>
									Динамика уровня вакантности и операционного потока
								</h3>
							</div>
							<div id="chart_div"></div>
						</div>					
					</div>
				</div>
				<div data-grid-caption class="{{prefix}}caption  {{mod}}"><b>*Тип компании: Малая - до</b> 1 000 м<sup>2</sup>; <b>Средняя - </b>от 1 000 до 2 500 м<sup>2</sup>; <b>Крупная -</b> от 2 500 м<sup>2</sup></div>
			</div>
		</div>
	</form>
{% endif %}