<nav class="{{navbar_prefix}}block  {{navbar_mod}}">
	<div class="{{navbar_prefix}}container container">	
		<div class="{{navbar_prefix}}row">
			<div class="{{navbar_prefix}}cols  is--logotip">
				<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
					{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
				</a>
			</div>
			<div class="{{navbar_prefix}}cols  is--heading">
				<h1 class="{{navbar_prefix}}heading">Office stress test</h1>
			</div>					   
		</div>
	</div>
</nav>