<footer class="{{footer_prefix}}block">	
	<div class="{{footer_prefix}}container container">
		<div class="{{footer_prefix}}row">
			<div class="{{footer_prefix}}cols  is--logotip">
				<a href="{{page.index}}" class="{{footer_prefix}}logotip">
					{% include "../svg-sprite/svg.twig" with {icon:"logotip"} %}
				</a>
			</div>
			<div class="{{footer_prefix}}cols  is--text">
				тел. <a href="tel:+74957378000">+7 495 737 8000</a><br> © Copyright 2020 Jones Lang LaSalle, IP, Inc.
			</div>
		</div>	
	</div>
</footer>